{% extends "LesnictwoMainBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sectionHeader"><h1>Menu Główne</h1></div>
        </div>
        <div class="sectionContent">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="{{ asset('bundles/lesnictwomain/images/users.png') }}" width="100" height="100">
                    <h4>Zarządzanie użytkownikami Systemu</h4>
                    <p class="sectionContentText">Funkcja umożliwia zarządzanie użytkownikami systemu.</p>
                    <p><a class="btn btn-primary" href="{{ path('users') }}">Dodawanie Użytkowników</a></p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="{{ asset('bundles/lesnictwomain/images/tree.png') }}" width="100" height="100">
                    <h4>Drzewa do ścinki</h4>
                    <p class="sectionContentText">Mapa z drzewami do ścinki. Umożliwia zarządanie drzewami.</p>
                    <p><a class="btn btn-primary" href="{{ path('lesnictwo_mapa_homepage') }}">Zarządzanie drzewami do ścinki</a></p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="{{ asset('bundles/lesnictwomain/images/map.png') }}" width="100" height="100">
                    <h4>Zarządzanie Mapą Leśnictwa</h4>
                    <p class="sectionContentText">Możliwość konfiguracji mapy. Mapa przedstawia obszar leśnictwa.</p>
                    <p><a class="btn btn-primary" href="{{ path('lesnictwo_mapa_homepage') }}">Mapa Leśnictwa</a></p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="{{ asset('bundles/lesnictwomain/images/more.png') }}" width="100" height="100">
                    <h4>Inne funkcje Systemu</h4>
                    <p class="sectionContentText">Sprawdź inne funkcje Systemu. Umożliwające prowadzenie leśnictwa.</p>
                    <p><a class="btn btn-primary" href="#">Więcej</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}